@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.bg-hero-pattern {
  background-image: url("https://media.istockphoto.com/id/1176497914/vector/abstract-blue-background.jpg?s=170667a&w=0&k=20&c=Vegvpsh40Apstv6wwgMTk8CcCBljiMfRjqyPsnwBTDQ=");
}
